.service/* タブレット向けレイアウト */
@media all and (max-width: 1000px ) {
  
}


/* モバイル向けレイアウト */
@media all and (max-width: 576px) {

  /* メインビジュアル */
  .mainvisual__top {
    margin-top: 56px;
    align-items: center;
  }
  .mainvisual__blog-icon {
    width: 16.7vw;
  }
  .mainvisual__top-text {
    font-size: 13px;
    text-align: left;
  }
  .mainvisual__top-title {
    font-size: 30px;
  }
  .mainvisual__mauntain-icon {
    margin-top: 34px;
    width: 128px;
  }
  .mainvisual__introduction-text {
    margin-top: 36px;
    
  width: 100%;
  }

  /*　タイトル */
  .title__heading-area {
    margin-top: 42px;
  }
  .title__heading-box{
    margin: 0;
  }
  .title__heading-text {
    font-size: 15px;
  }
  .title__catchcopy {
    margin-top: 25px;
  }
  .title__catchcopy-text {
    width: 100%;
    font-size: 14px;
  }
  .title__labelicon-area {
    width: 100%;
  }

  .title__slider-area {
    width: 100%;
  }
  .mySwiper2 {
    height: 54.1vw;
    margin-bottom: 15px;
  }
  .mySwiper {
    height: 14vw;
  }

  /* 記事 */
  .article__heading-text {
    text-align: left;
    font-size: 17px;
  }

  .article__staff {
    width: 26.3vw;
    margin-left: 0;
  }
  .article__staff-name {
    font-size: 11px;
  }
  .article__recommend-box {
    width: 56.8vw;
    margin-left: 0;
  }
  .article__text-area {
    margin-top: 17px;
  }
  .article__text {
    padding: 0;
  }
  .article__heading2-area {
    margin-top: 42px;
  }
  .article__point-box {
    width: 56vw;
    margin-right: 0;
  }
  .article__heading2-text {
    padding-left: 0;
    text-align: left;
    font-size: 17px;
  }
  .article__recommend-text {
  }
  .article__yatsuko-area {
    width: 26vw;
  }
  .article__yatsuko-name {
    font-size: 12px;
  }
  .article__message-area {
    width: 100%;
  }
  .article__message-box {
    padding: 13px 14px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
  }
  .article__share {
    font-size: 10px;
  }
  .article__icon-box {
    margin-left: ;
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
  .article__icon-twitter {
    font-size: 1em;
  }

  /* お店情報 */
  .about__container {
    padding: 31px 0 24px;
  }
  .about__heading-text {
    font-size: 18px;
  }
  .about__information {
    margin-top: 22px;
  }
  .about__name-area {
    padding: 10px 15px;
  }
  .about__name-text {
    font-size: 14px;
  }
  .about__adress-area {
    padding-left: 9px;
  }
  .about__postal-number {
    font-size: 13px;
  }
  .about__map-area {
    margin: 15px auto 24px;
    height: 84.0vw;
  }

  /* 関連記事 */
  .relation__container {
    padding: 23px 0 22px;
  }
  .relation__link-area {
    margin: 15px auto 15px;
  }
  .relation__heading-text {
    font-size: 18px;
  }
  .relation__item {
    width: 47.1vw;
  }
  .relation__item-top {
    height: 27.8vw;
  }
  .relation__staffblog-icon {
  }
  .relation__label {
  }
  .relation__item-bottom {
    padding: 6px 6px 19px;
  }
  .relation__item-name {
    font-size: 9px;
  }
  .relation_item-heading {
    font-size: 9px;
  }


  /* ブログ一覧 */
  .back__button {
    margin-right: 0;
  }
  .back__arrow {
    width: 28.5vw;
  }




  
}
